/* Custom reset */
p {
    margin: 0;
}

/* Other css */

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: white;

}

.infos {
    padding: 15px;

    .topRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .profilePicture {
            .imgWrap {

                border: double 3px transparent;
                border-radius: 50%;
                background-image: linear-gradient(black, black), radial-gradient(circle at bottom left, orange, purple);
                background-origin: border-box;
                background-clip: padding-box, border-box;
                padding: 3px;

                &.storyViewed {
                    border: double 2px transparent;
                    background-image: linear-gradient(black, black), linear-gradient(grey, grey);
                    padding: 4px;
                }

                img {
                    width: 77px;
                    height: 77px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .numbers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;
            .numberBox {
                display: flex;
                flex-direction: column;
                align-items: center;


                div {
                    font-weight: 600;
                    font-size: 14px;
                }

                p {
                    font-size: 13px;
                    margin-top: 2px;
                }
            }
        }
    }

    .infosBox {
        .title {
            font-size: 14px;
            font-weight: 600;
        }

        .occupation {
            font-size: 14px;
            color: #A8A8A8;
            font-weight: 500;
        }

        .info {
            font-size: 14px;
            margin-top: 2px;
        }
    }

    .education {
        .title {
            font-size: 14px;
            font-weight: 600;
        }

        .educationList {
            display: flex;
            .educationItem {
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px;

                .storyHighlightWrap {
                    border: 1px solid grey;
                    padding: 3px;
                    border-radius: 50%;
                    width: fit-content;

                    .storyHighlight {
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;

                        &.bg1 {
                            background-color: #b3e1f5;
                        }

                        &.bg2 {
                            background-color: #f5b3b3;
                        }

                        &.bg3 {
                            background-color: #def5b3;
                        }
                    }
                }

                .storyHighlightTitle {
                    font-size: 12px;
                    margin-top: 7px;
                }
            }
        }
    }
}

.posts {
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .postsButtons {
            width: 100%;
            color: grey;
            padding-bottom: 10px;

            &.active {
                color: white;
                border-bottom: 2px solid white;
            }
        }
    }

    .identifyPostsList {
        display: none;
    }

    .postsRow {
        display: flex;
        flex-direction: row;

        &:not(:first-of-type) {
            margin-top: 2px;
        }
        .post {
            width: 33vw;
            height: 33vw;

            &:nth-child(2) {
                margin-left: 2px;
                margin-right: 2px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            &.p1 {
                background-color: #f89f9f;
            }

            &.p2 {
                background-color: #a7f3ec;
            }

            &.p3 {
                background-color: #e2b1ff;
            }

            &.p4 {
                background-color: #ffe060;
            }

            &.p5 {
                background-color: #a7a7ee;
            }

            &.p6 {
                background-color: #d3ffb4;
            }

        }
    }
}

.story {
    display: none;
    background-color: #a7a7ee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .storyHeader {

        .progressBarWrap {
            width: 97vw;
            border-radius: 5px;
            margin: auto;
            height: 2px;
            background-color: #ffffff8a;
            margin-top: 7px;

            .progressBar {
                width: 0%;
                height: 100%;
                background-color: white;

                &.animate {
                    animation: 5s story linear
                }


                @keyframes story {
                    0% {
                      width: 0%;
                    }
                    100% {
                      width: 100%;
                      /* but starting to "disappear" from left to right, just like the way it appears */
                    }
                  }
            }
        }

        .storyInfos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 7px;

            .storyAccountNameWrap {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .storyAccountName {
                    margin-left: 7px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .storyCloseBtn {
                font-size: 24px;
            }
        }

    }

    .storyBody {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Page post.html
.postPage {
    .postNav {
        display: flex;
        flex-direction: row;
        padding: 14px 7px;

        .returnBtn {
            font-size: 24px;
            width: 24px;
            height: 24px;
            text-align: center;
            align-self: center;
        }

        .navTextWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            .accountName {
                font-size: 12px;
                text-transform: uppercase;
                color: #A8A8A8;
                font-weight: 500;
            }

            .title {
                font-size: 16px;
                font-weight: 600;
            }
        }

    }

    .profilePicture {
        padding: 14px 7px;
        border-top: .5px solid #5c5c5c;
        display: flex;
        flex-direction: row;
        align-items: center;

        .imgWrap {

            border: double 2px transparent;
            border-radius: 50%;
            background-image: linear-gradient(black, black), radial-gradient(circle at bottom left, orange, purple);
            background-origin: border-box;
            background-clip: padding-box, border-box;
            padding: 3px;
            width: fit-content;

            &.storyViewed {
                border: double 2px transparent;
                background-image: linear-gradient(black, black), linear-gradient(grey, grey);
                padding: 4px;
            }

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .accountName {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
